#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* remove unnecessary button */
.mapboxgl-ctrl-attrib-button {
  display: none;
}

body {
  font-family: Roboto;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

input[type="number"] {
  width: 60px;
}

a {
  color: #fff;
}

.radio {
  width: 30px;
}

.popup {
  opacity: 0.9;
  z-index: 4;
}

/* ---- Slider range ---- */

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #2196f3;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  margin-top: -4px;
}

.ui-slider {
  margin-top: 2px;
  height: 5px;
  position: relative;
  background: #ccc;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #fff;
  border-radius: 25px;
  outline: none;
  /* position: relative; */
  /* top: -2px; */
}
.ui-slider-horizontal .ui-slider-range {
  background: #2196f3;
  border: none;
}

/* ---- Scrollbar ---- */

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---- Panels ---- */

#panel {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 12px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 3;
  overflow-y: auto;
  max-height: 90%;
}

.panel {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
  margin: 3px;
  padding: 10px;
  border: 10px;
  border-radius: 5px;
  width: 260px;
}

#switch-panel {
  border: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

#affichage {
  width: 80%;
}

#control-panel {
  display: none;
}

#legend-display {
  display: none;
}

#legend-control:hover {
  color: #2196f3;
}

#map-display {
  display: none;
  text-align: center;
}

#map-control:hover {
  color: #2196f3;
}

#info-display {
  position: absolute;
  left: 20%;
  top: 2%;
  width: 50%;
  padding: 20px 50px 20px 50px;
  display: none;
  font-size: 16px;
  line-height: 1.5;
  z-index: 3;
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 5px;
}

#info-control:hover {
  color: #2196f3;
}

#info-ok {
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
  border-color: #fff;
  border-radius: 5px;
}

/* ---- Switch button ---- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
